@import 'antd/dist/antd.css';

body {
    display: block !important;
}


.map {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.map > div {
    max-width: 600px;
    width: calc(100vw - 2rem);
    height: 400px;
    position: relative;
    border-radius: 0.6rem;
}